################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FarmApi/bin
/Web
/FarmDomainService/bin
/FarmDomain/bin
/FarmApi/FarmApi/web.config